Repository triplestrange/StrangeScout, pull requests merged in 2018-12, with the labels that each got.

#43 improve env vars in Compose file, rm public goscout port
  README.md
  docker-compose.prod.yml
  docker-compose.standalone.yml
  docker-compose.traefik.yml
Labels: Build, bug, enhancement

#45 Version Number on splash
  README.md
  build.sh
  docker-compose.standalone.yml
  docker-compose.traefik.yml
  goscout/README.md
  jscout/Dockerfile
  jscout/Dockerfile-traefik
  jscout/README.md
  jscout/src/app/home/home.component.css
  jscout/src/app/home/home.component.html
  jscout/src/app/home/home.component.ts
  jscout/src/environments/environment.prod.ts
  jscout/src/environments/environment.ts
Labels: Build, JScout, enhancement

#47 Policy Cleanup
  jscout/Caddyfile
  jscout/Caddyfile-traefik
  jscout/Dockerfile-traefik
  jscout/ngsw-config.json
  jscout/src/app/app-routing.module.ts
Labels: JScout, bug

#48 Policy Cleanup
  jscout/Caddyfile
  jscout/Caddyfile-traefik
  jscout/Dockerfile-traefik
  jscout/ngsw-config.json
  jscout/src/app/app-routing.module.ts
Labels: JScout, bug

#49 Data Page
  README.md
  jscout/src/app/api-query.service.ts
  jscout/src/app/app-routing.module.ts
  jscout/src/app/app.component.ts
  jscout/src/app/app.module.ts
  jscout/src/app/data/data.component.css
  jscout/src/app/data/data.component.html
  jscout/src/app/data/data.component.ts
  jscout/src/app/home/home.component.css
  jscout/src/app/home/home.component.html
Labels: JScout, enhancement

#50 Sortable Table
  jscout/src/app/app.component.css
  jscout/src/app/app.module.ts
  jscout/src/app/data/data.component.css
  jscout/src/app/data/data.component.html
  jscout/src/app/data/data.component.ts
Labels: JScout, enhancement
